.app_black_theme {
    --bg-color: #575864;
    --inverted-bg-color: #454c4f;
    --primary-color: #f4f4fb;
    --secondary-color: #454c4f;
    --inverted-primary-color: #f4f4fb;
    --inverted-secondary-color: #454c4f;
}
