.app_orange_theme {
    --bg-color: #faf8f4;
    --inverted-bg-color: #ea920e;
    --primary-color: #c61b0c;
    --secondary-color: #ea920e;
    --inverted-primary-color: #faf8f4;
    --inverted-secondary-color: #c61b0c;

    // skeleton
    --skeleton-shadow: #fff;
    --skeleton-color: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #a1a1aa;
}
